body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin: 0;
}

#current-flashcard {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

#current-flashcard h2 {
    margin: 0;
}

#current-flashcard p {
    margin-top: 10px;
}

.delete-flashcard-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.delete-flashcard-btn:hover {
    background-color: #e60000;
}

#flashcard-count {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#clear-flashcards-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#clear-flashcards-btn:hover {
    background-color: #555;
}

.edit-flashcard-btn {
    background-color: #4d79ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 5px;
    cursor:pointer;
}

.edit-flashcard-btn:hover {
    background-color: #3366ff;
}

